<p id="notice"><%= notice %></p>

<h1 style="text-align: center;">Phòng Hỏi đáp bộ môn </h1>

<br>
<% if @room_teacher.blank? %>
  <%= link_to 'Tạo phòng ', new_chat_room_path %>
<% else %>
   <%= render 'chat_form',collection: @room_teacher, as: "room_teacher"%>

<% end %>