<p id="notice"><%= notice %></p>

<h1 style="text-align: center;">Phòng Hỏi đáp bộ môn </h1>

<br>
  <%= render 'chat_form', locals: {you_use: you_use, room_teacher: @room_teacher, sender_id: @sender_id,room: @room,messages: @messages}%>