<li class="nav-item dropdown">
  <% if current_teacher %>
    <%= render "/layouts/navbar/widgets/logged_in_teacher" %>
  <% elsif current_student %>
    <%= render "/layouts/navbar/widgets/logged_in_student" %>
  <% else %>
    <li class="dropdown">
      <a href="#" class="nav-link" data-toggle="dropdown">
        Đăng nhập <b class="caret"></b>
      </a>

      <ul class="dropdown-menu">
        <li><%= link_to "Student Log in", new_students_session_path %></li>
        <li><%= link_to "Teacher Log in", new_teachers_session_path %></li>
      </ul>
    </li>
  <% end %>
</li>
