<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <% @microposts.each do |microposts| %>
      <% microposts = microposts[1] %>
      <ul class="list-group list-group-flush">
        <h1></h1>
        <li class="list-group-item active" style="font-size: 30px;" aria-current="true"><p>Thông báo bộ môn <%= microposts.first.teacher.subject.name %></p></li>
        <%= render partial: "micropost", collection: microposts %>
      </ul>
    <% end %>
  </div>
</div>
