<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <% @microposts.each do |microposts| %>
      <% microposts = microposts[1] %>
      <ul class="list-group list-group-flush">
        <li class="list-group-item active" aria-current="true"><%= microposts.first.subject %></li>
        <%= render partial: "micropost", collection: microposts %>
      </ul>
    <% end %>
  </div>
</div>
