<div class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      Vào lớp học
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Nhập tài khoản và mật khẩu của bạn</p>
        <%= form_with(url: students_session_index_path, scope: :session, local: true) do |f| %>
          <div class="input-group mb-3">
            <%= f.email_field :email, { class: "form-control", placeholder: true } %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <%= f.password_field :password, { class: "form-control", placeholder: true } %>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="text-center mb-3">
            <%= f.submit "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
