<div class="direct-chat-msg">
  <img class="direct-chat-img" src="https://cmm.edu.vn/wp-content/uploads/2022/09/ta-co-giao.jpg" alt="Message User Image">
  <div class="direct-chat-text">
    <p><%= message.content %></p>
  </div>            
</div>