<div class="direct-chat-msg right">
  <img class="direct-chat-img" src="https://khoinguonsangtao.vn/wp-content/uploads/2022/10/hinh-anh-hoc-bai-cua-hoc-sinh-nam.png" alt="Message User Image">
    <div class="direct-chat-text">
    <p><%= message.content %></p>
  </div>
</div>