<ul class="list-group">
  <li class="list-group-item active" aria-current="true">Môn bạn đang học</li>
  <% subjects.each do |subject| %>
    <li class="list-group-item"><%= subject.name %></li>
  <% end %>
</ul>