<style>
  p{
    font-size: 21px;
  }
</style>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <%= render "layouts/sidebar/logo" %>

  <div class="sidebar">
    <%= render "layouts/sidebar/admin" %>
    <% if logged_in? %>
      <%= render "layouts/sidebar/menu" %>
    <% end %>
  </div>
</aside>
