<footer class="main-footer" style="<%= 'margin-left: 0 !important' unless logged_in? %>">
  <strong>Copyright &copy;  <a href="/">E learn</a>.</strong>
</footer>

<aside class="control-sidebar control-sidebar-dark">
</aside>

