<div class="wrapper">
  <%= render "layouts/sidebar/all" %>

  <div class="content-wrapper">
    <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <%= yield %>
  </div>

  <% render "layouts/footer" %>
</div>
