<div class="wrapper" id="current_user_id" current_user_id=<%= current_teacher&.id || current_student&.id %>>
  <%= render "layouts/sidebar/all" %>

  <div class="content-wrapper">
    <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <div class="container-fluid pt-5">
      <%= yield %>
    </div>
  </div>

  <% render "layouts/footer" %>
</div>
